<%= render 'dashboards/navigation' %>
<%= render 'dashboards/side_nav' %>
<div id="page-wrapper">

  <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Medications</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= link_to new_medication_path, class:"btn btn-primary btn-success btn-lg" do %>
        <i class="fa fa-plus"></i> Add New Medications
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to '#', class:"btn btn-primary btn-warning btn-lg" do %>
        <i class="fa fa-search"></i> Find a Medication
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to '#', class:"btn btn-primary btn-lg" do %>
        <i class="fa fa-user"></i> Full Medication List
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <h3>Latest Medication</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Generic name</th>
            <th>International name</th>
            <th>Prescription required</th>
            <th>Price</th>
            <th>Is pack size splittable</th>
          </tr>
        </thead>
        <tbody>
          <% @medications.each do |medication| %>
          <tr>
            <td><%= medication.name %></td>
            <td><%= medication.generic_name %></td>
            <td><%= medication.int_name %></td>
            <td><%= medication.prescription_required %></td>
            <td><%= medication.price %></td>
            <td><%= medication.is_pack_size_splittable %></td>
            <td><%= link_to medication do %>
                  <i class="fa fa-info"></i> Details
                <% end %>
            </td>
            <td><%= link_to medication, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i> Delete
                <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

</div>
</div>