<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob, :start_year => Time.now.year - 70, :end_year => Time.now.year %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :dr_name %><br>
    <%= f.text_field :dr_name %>
  </div>
  <div class="field">
    <%= f.label :dr_phone %><br>
    <%= f.number_field :dr_phone %>
  </div>
  <div class="field">
    <%= f.label :dr_fax %><br>
    <%= f.number_field :dr_fax %>
  </div>
  <div class="field">
    <%= f.label :shipping_address %><br>
    <%= f.text_field :shipping_address %>
  </div>
  <div class="field">
    <%= f.label :billing_address %><br>
    <%= f.text_field :billing_address %>
  </div>
  <div class="field">
    <%= f.label :billing_info %><br>
    <%= f.text_field :billing_info %>
  </div>
  <div class="field">
    <%= f.label :smoker %><br>
    <%= f.text_field :smoker %>
  </div>
  <div class="field">
    <%= f.label :drinker %><br>
    <%= f.text_field :drinker %>
  </div>
  <div class="field">
    <%= f.label :eye_disorders %><br>
    <%= f.text_area :eye_disorders %>
  </div>
  <div class="field">
    <%= f.label :emotional_mood_disorders %><br>
    <%= f.text_area :emotional_mood_disorders %>
  </div>
  <div class="field">
    <%= f.label :heart_disease %><br>
    <%= f.text_field :heart_disease %>
  </div>
  <div class="field">
    <%= f.label :high_lipids %><br>
    <%= f.text_field :high_lipids %>
  </div>
  <div class="field">
    <%= f.label :neurological_disorders %><br>
    <%= f.text_area :neurological_disorders %>
  </div>
  <div class="field">
    <%= f.label :kidney_disorders %><br>
    <%= f.text_area :kidney_disorders %>
  </div>
  <div class="field">
    <%= f.label :stomach_disorders %><br>
    <%= f.text_area :stomach_disorders %>
  </div>
  <div class="field">
    <%= f.label :diabetes %><br>
    <%= f.text_field :diabetes %>
  </div>
  <div class="field">
    <%= f.label :other_disorders %><br>
    <%= f.text_area :other_disorders %>
  </div>
  <div class="field">
    <%= f.label :drug_alergies %><br>
    <%= f.text_area :drug_alergies %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
