<%= render 'dashboards/navigation' %>
<%= render 'dashboards/side_nav' %>
<div id="page-wrapper">
  <%= render 'layouts/flash_message' %>
  <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Doctors</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= link_to new_doctor_path, class:"btn btn-primary btn-success btn-lg" do %>
        <i class="fa fa-plus"></i> Add New Doctor
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to '#', class:"btn btn-primary btn-warning btn-lg" do %>
        <i class="fa fa-search"></i> Find a Doctor
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to '#', class:"btn btn-primary btn-lg" do %>
        <i class="fa fa-user"></i> Full Doctors List
      <% end %>
    </div>
  </div>

 <div class="row" style="margin-top: 50px;">
    <h3>Latest Medication</h3>
      <table class="table table-striped">
        <thead>
          <tr>
          <th>Doctors name</th>
          <th>Clinic name</th>
          <th>Clinic address</th>
          <th>Clinic phone</th>
          <th>Doctors direct phone</th>
          <th>Fax number</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.doctors_name %></td>
        <td><%= doctor.clinic_name %></td>
        <td><%= doctor.clinic_address %></td>
        <td><%= doctor.clinic_phone %></td>
        <td><%= doctor.doctors_direct_phone %></td>
        <td><%= doctor.fax_number %></td>
        <td><%= doctor.email %></td>
        <td><%= link_to doctor do %>
                  <i class="fa fa-info"></i> Details
                <% end %>
            </td>
        <td><%= link_to doctor, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i> Delete
                <% end %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
